body{
	background-color: black;
}
h1,h4,h5{
	color: grey;
}
#btn {
	padding: 10px 35px;
	background-color:#1f1f1f;
	color:white;
}
hr{
	background-color: grey;
}
label{
	color:grey;
}


/* Create four equal columns that sits next to each other
And also over write left & right padding with internal stylesheet for col*/
.row > div {
      padding: 0 4px !important;
}

img {
    margin-top: 8px;
    vertical-align: middle;
  
}




